# Eclipse
.classpath
.project
.settings/
.metadata/
/target/
/.settings/
.factorypath
.project
.tmp
.ipr
# Intellij
.idea/
*.iml
*.iws
# Mac
.DS_Store

# Maven
log/
target/
out/

# Others
bin/
.myeclipse
.hprof
*/.mymetadata

logs
logs/*
*/*.log
*/*.log.*
*.log
*.log.*
*.exe.*
*.exe